:root {
    --prim-cafe-noir-color: #4b3621;
    --sec-cafe-noir-color: #352617;
}

body {
    background: #C5C4A8;
    background: url(https://cdn.pixabay.com/photo/2017/09/06/11/41/vintage-2721100_1280.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}

#tic-tac-toe-grid {
    margin: 0 auto;
    margin-bottom: 120px;
    width: 393px;
    height: 393px;
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    text-align: center;
    font-size: 5.5rem;
    font-family: 'Permanent Marker', cursive;
    color: var(--prim-cafe-noir-color);
}

#tic-tac-toe-grid span {
    background-color: transparent;
    line-height: 130px;
}

#tic-tac-toe-grid span[class="cell r1 c2"] {
    border-left: 2.5px solid var(--prim-cafe-noir-color);
    border-right: 2.5px solid var(--prim-cafe-noir-color);
}

#tic-tac-toe-grid span[class="cell r2 c1"] {
    border-top: 2.5px solid var(--prim-cafe-noir-color);
    border-bottom: 2.5px solid var(--prim-cafe-noir-color);
}

#tic-tac-toe-grid span[class="cell r2 c2 d1 d2"] {
    border: 2.5px solid var(--prim-cafe-noir-color);
}

#tic-tac-toe-grid span[class="cell r2 c3"] {
    border-top: 2.5px solid var(--prim-cafe-noir-color);
    border-bottom: 2.5px solid var(--prim-cafe-noir-color);
}

#tic-tac-toe-grid span[class="cell r3 c2"] {
    border-left: 2.5px solid var(--prim-cafe-noir-color);
    border-right: 2.5px solid var(--prim-cafe-noir-color);
}

#scoreboard {
    margin: 0 auto;
    width: 50%;
    height: 160px;
    display: grid;
    grid-template-rows: 120px 40px;
    grid-template-columns: 2fr 4% 2fr 2fr 4% 2fr;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#congrat-text, #new-game-btn, #next-round-btn {
    grid-column: span 2;
}

#congrat-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#congrat-text p:first-child {
    margin: 0 0 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--sec-cafe-noir-color);
}

#congrat-text p:last-child {
    margin: 0;
    font-size: 1.2rem;
    color: green;
}

.scoreb-upper {
    line-height: 120px;
}

.score, .player {
    border: 1px dotted var(--sec-cafe-noir-color);
    color: var(--sec-cafe-noir-color);
}

.score {
    border-bottom: none;
    font-size: 3rem;
}

.active-player {
    border: 2px solid var(--sec-cafe-noir-color);
    background-color: rgba(75,54,33,0.7);
    color:#dde26a;
}

.fa-caret-left, .fa-caret-right {
    visibility: hidden;
    font-size: 1.5rem;
    color: green;
}

.scoreb-lower {
    line-height: 40px;
}

#new-game-btn, #next-round-btn {
    border: 1px dotted var(--sec-cafe-noir-color);
    color: var(--sec-cafe-noir-color);
    background: transparent;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

#new-game-btn {
    border-left: none;
    border-right: none;
}

#new-game-btn:hover {
    border: none;
    background-color: rgba(60,20,20,0.7);
    color: whitesmoke;
}

#next-round-btn {
    border-right: none;
}

#next-round-btn:hover {
    border: none;
    background-color: rgba(1,50,32,0.7);
    color: whitesmoke;
}

#settings-and-codesweetly-btns {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

#open-settings-modal, #codesweetly-link {
    color: var(--sec-cafe-noir-color);
    font-size: 1.9rem;
    cursor: pointer;
}

#open-settings-modal:hover, #codesweetly-link:hover {
    color: #808000;
}

#settings-modal-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.35);
}

#settings-modal-box {
    position: relative;
    padding: 20px;
    width: 220px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #CCB57F;
    background: url("https://cdn.pixabay.com/photo/2015/11/08/05/58/scroll-1033117_1280.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.3);
    color: var(--prim-cafe-noir-color);
    animation-name: animate-settings-modal-box;
    animation-duration: 1s;
}

@keyframes animate-settings-modal-box {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

.fa-times-circle {
    align-self: flex-end;
    font-size: 1.3rem;
    cursor: pointer;
}

select, input {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--prim-cafe-noir-color);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 7px;
    width: 100%;
    height: 35px;
    background-color: #efe6dc;
    color: var(--sec-cafe-noir-color);
}

select:focus, input:focus, button:focus {
    outline: 0;
}

input {
    padding-left: 12px;
}

form h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 220px;
    font-family: 'Cabin Sketch', cursive;
    color: var(--prim-cafe-noir-color);
}

#comp-x-diff-level, #pl-o-name {
    display: none;
}

.sound {
    width: 90px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px outset var(--prim-cafe-noir-color);
    border-radius: 15px;
    color: var(--sec-cafe-noir-color);
    cursor: pointer;
}

.sound-on {
    background-color: rgba(173,255,47,0.3);
}

.sound-on:hover, .sound-off:hover {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0,0,0,0.18), inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

#new-game-btn:active, #next-round-btn:active, .sound-on:active, .sound-off:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0,0,0,0.3), inset 0 0 0em 0.05em rgba(255,255,255,0.18);
}

.sound-off {
    background-color: rgba(255,0,0,0.3);
}

.fa-volume-up::after {
    content: " ON";
    font-family: 'Roboto', sans-serif;
}

.fa-volume-mute::after {
    content: " OFF";
    font-family: 'Roboto', sans-serif;
}

footer a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--sec-cafe-noir-color);
}

footer a:hover {
    color: rgb(60,20,20);
}